# basic auth start
USERNAME=your_username
PASSWORD=your_password
# basic auth end

# imap listen config start
IMAP_SERVER=imap.example.com
IMAP_PORT=993
USE_TLS=true
CONNECT_WITH_ID=true
MAILBOX=INBOX
CHECK_INTERVAL=30
FORCED_POLLING=false
ATTACHMENT_DIR=.vscode/temp
ATTACHMENT_MAX_BYTES=26214400
BODY_MAX_BYTES=1024000
# imap listen config end

# smtp send config start
SMTPSERVER=smtp.example.com
SMTPPORT=465
SMTPUSE_TLS=true
# smtp send config end

# if you set SEND_TO, 
# will send email to the recipients when new email is received
SEND_TO=send_to_email@example.com,send_to_email2@example.com # use "," to separate multiple recipients